function Main.main 2
push constant 7
call String.new 1
push constant 86
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Keyboard.readInt 1
pop local 0
push constant 8000
push local 0
call Memory.poke 2
pop temp 0
push constant 8001
push constant 16
push constant 1
neg
call Main.fillMemory 3
pop temp 0
push constant 8000
call Memory.peek 1
pop local 1
push local 1
call Main.convert 1
pop temp 0
push constant 0
return
function Main.convert 3
push constant 0
not
pop local 2
label start-of-while0
push local 2
if-goto condition-true0
goto condition-false0
label condition-true0
push local 1
push constant 1
add
pop local 1
push local 0
call Main.nextMask 1
pop local 0
push local 1
push constant 16
gt
not
if-goto condition-true1
goto condition-false1
label condition-true1
push argument 0
push local 0
and
push constant 0
eq
not
if-goto condition-true2
goto condition-false2
label condition-true2
push constant 8000
push local 1
add
push constant 1
call Memory.poke 2
pop temp 0
goto if-statement-end2
label condition-false2
push constant 8000
push local 1
add
push constant 0
call Memory.poke 2
pop temp 0
label if-statement-end2
goto if-statement-end1
label condition-false1
push constant 0
pop local 2
label if-statement-end1
goto start-of-while0
label condition-false0
push constant 0
return
function Main.nextMask 0
push argument 0
push constant 0
eq
if-goto condition-true3
goto condition-false3
label condition-true3
push constant 1
return
goto if-statement-end3
label condition-false3
push argument 0
push constant 2
call Math.multiply 2
return
label if-statement-end3
function Main.fillMemory 0
label start-of-while4
push argument 1
push constant 0
gt
if-goto condition-true4
goto condition-false4
label condition-true4
push argument 0
push argument 2
call Memory.poke 2
pop temp 0
push argument 1
push constant 1
sub
pop argument 1
push argument 0
push constant 1
add
pop argument 0
goto start-of-while4
label condition-false4
push constant 0
return
