function PongGame.new 0
push constant 7
call Memory.alloc 1
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push constant 50
pop this 6
push constant 230
push constant 229
push this 6
push constant 7
call Bat.new 4
pop this 0
push constant 253
push constant 222
push constant 0
push constant 511
push constant 0
push constant 229
call Ball.new 6
pop this 1
push this 1
push constant 400
push constant 0
call Ball.setDestination 3
pop temp 0
push constant 0
push constant 238
push constant 511
push constant 240
call Screen.drawRectangle 4
pop temp 0
push constant 22
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 8
call String.new 1
push constant 83
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 48
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
pop this 3
push constant 0
pop this 4
push constant 0
pop this 2
push constant 0
pop this 5
push pointer 0
return
function PongGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Bat.dispose 1
pop temp 0
push this 1
call Ball.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function PongGame.newInstance 0
call PongGame.new 0
pop static 0
push constant 0
return
function PongGame.getInstance 0
push static 0
return
function PongGame.run 1
push argument 0
pop pointer 0
label start-of-while17
push this 3
not
if-goto condition-true17
goto condition-false17
label condition-true17
label start-of-while18
push local 0
push constant 0
eq
push this 3
not
and
if-goto condition-true18
goto condition-false18
label condition-true18
call Keyboard.keyPressed 0
pop local 0
push this 0
call Bat.move 1
pop temp 0
push pointer 0
call PongGame.moveBall 1
pop temp 0
push constant 50
call Sys.wait 1
pop temp 0
goto start-of-while18
label condition-false18
push local 0
push constant 130
eq
if-goto condition-true19
goto condition-false19
label condition-true19
push this 0
push constant 1
call Bat.setDirection 2
pop temp 0
goto if-statement-end19
label condition-false19
push local 0
push constant 132
eq
if-goto condition-true20
goto condition-false20
label condition-true20
push this 0
push constant 2
call Bat.setDirection 2
pop temp 0
goto if-statement-end20
label condition-false20
push local 0
push constant 140
eq
if-goto condition-true21
goto condition-false21
label condition-true21
push constant 0
not
pop this 3
goto if-statement-end21
label condition-false21
label if-statement-end21
label if-statement-end20
label if-statement-end19
label start-of-while22
push local 0
push constant 0
eq
not
push this 3
not
and
if-goto condition-true22
goto condition-false22
label condition-true22
call Keyboard.keyPressed 0
pop local 0
push this 0
call Bat.move 1
pop temp 0
push pointer 0
call PongGame.moveBall 1
pop temp 0
push constant 50
call Sys.wait 1
pop temp 0
goto start-of-while22
label condition-false22
goto start-of-while17
label condition-false17
push this 3
if-goto condition-true23
goto condition-false23
label condition-true23
push constant 10
push constant 27
call Output.moveCursor 2
pop temp 0
push constant 9
call String.new 1
push constant 71
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
call Output.printString 1
pop temp 0
goto if-statement-end23
label condition-false23
label if-statement-end23
push constant 0
return
function PongGame.moveBall 5
push argument 0
pop pointer 0
push this 1
call Ball.move 1
pop this 2
push this 2
push constant 0
gt
push this 2
push this 5
eq
not
and
if-goto condition-true24
goto condition-false24
label condition-true24
push this 2
pop this 5
push constant 0
pop local 0
push this 0
call Bat.getLeft 1
pop local 1
push this 0
call Bat.getRight 1
pop local 2
push this 1
call Ball.getLeft 1
pop local 3
push this 1
call Ball.getRight 1
pop local 4
push this 2
push constant 4
eq
if-goto condition-true25
goto condition-false25
label condition-true25
push local 1
push local 4
gt
push local 2
push local 3
lt
or
pop this 3
push this 3
not
if-goto condition-true26
goto condition-false26
label condition-true26
push local 4
push local 1
push constant 10
add
lt
if-goto condition-true27
goto condition-false27
label condition-true27
push constant 1
neg
pop local 0
goto if-statement-end27
label condition-false27
push local 3
push local 2
push constant 10
sub
gt
if-goto condition-true28
goto condition-false28
label condition-true28
push constant 1
pop local 0
goto if-statement-end28
label condition-false28
label if-statement-end28
label if-statement-end27
push this 6
push constant 2
sub
pop this 6
push this 0
push this 6
call Bat.setWidth 2
pop temp 0
push this 4
push constant 1
add
pop this 4
push constant 22
push constant 7
call Output.moveCursor 2
pop temp 0
push this 4
call Output.printInt 1
pop temp 0
goto if-statement-end26
label condition-false26
label if-statement-end26
goto if-statement-end25
label condition-false25
label if-statement-end25
push this 1
push local 0
call Ball.bounce 2
pop temp 0
goto if-statement-end24
label condition-false24
label if-statement-end24
push constant 0
return
